!!! 5
%html
  
  %head
    %title MediamedoiV2
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to "MediamedoiV2", "#", class: "brand"
          %ul.nav
            %li= link_to "Files", "#"
            %li= link_to "Queue", "#"
    
    = yield

